body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Центрируем содержимое по горизонтали */
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left; /* Выравниваем текст лейблов по левому краю */
}

input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* промежуток между карточками */
}

.product-card {
  flex: 1 0 calc(25% - 20px); /* Равномерное распределение карточек в одном ряду */
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Дополнительные стили для каждого элемента продукта можно добавить по желанию */
.product-card p {
  margin: 5px 0;
}

.product-card p.product-name {
  font-weight: bold;
}

.product-card p.product-price {
  color: #007bff; /* Цвет цены */
}


button:hover {
  background-color: #0056b3;
}

.product-list {
  margin-top: 20px;
}

.product-list ul {
  list-style-type: none;
  padding: 0;
}

.product-list li {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-list li:last-child {
  margin-bottom: 0;
}

.product-info p {
  margin-bottom: 10px;
}

.error-message {
  color: #d9534f;
  margin-top: 10px;
}

.product-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: left; /* Выравниваем текст элементов списка продуктов по левому краю */
}

.product-item:last-child {
  margin-bottom: 0;
}

.product-item strong {
  color: #333;
}

.product-item p {
  margin-bottom: 5px;
}

.product-item .product-id {
  font-weight: bold;
}

.product-item .product-name {
  font-size: 20px;
}

.product-item .product-price {
  color: #007bff;
}
.product-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out; /* Плавное изменение тени */
}

.product-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
}

.product-item p {
  margin-bottom: 10px;
}

.product-item strong {
  color: #333;
}

.product-item .product-name {
  font-size: 20px;
}

.product-item .product-price {
  color: #007bff;
}

/* Стили для формы */
#buyerForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Стили для меток */
label {
  font-weight: bold;
}

/* Стили для полей ввода */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="button"] {
  width: calc(100% - 20px); /* учитываем внутренние отступы */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box; /* учитываем внешние отступы и границы в ширине */
}

/* Стили для кнопки */
input[type="button"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

/* При наведении на кнопку */
input[type="button"]:hover {
  background-color: #45a049;
}
/* Стили для списка пользователей */
ul {
  list-style-type: none;
  padding: 0;
}

/* Стили для каждого элемента списка */
li {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

/* Стили для заголовка списка */
#users {
  margin-top: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

#buyerInfo {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.buyerInfoItem {
  margin-bottom: 10px;
}

.buyerInfoItem label {
  font-weight: bold;
}

.buyerInfoItem span {
  margin-left: 10px;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#buyerInfo {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.user-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.user-item p {
  margin: 5px 0;
}



.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #666;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product_img{
  width: 300px;
  height: 300px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.product-card-p {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  margin: 50px auto;
}

.product-image-p {
  height: 400px;
  flex: 1;
  padding: 20px;
}

.product-details-p {
  flex: 2;
  padding: 20px;
}

.product-title-p {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.product-info-p {
  color: #666666;
}

.product-info-p span {
  display: block;
  margin-bottom: 5px;
}

.product-info-p span strong {
  color: #333333;
}

.product-info-p span:last-child {
  margin-bottom: 0;
}

.product-info-p span::before {
  content: attr(data-label) ": ";
  font-weight: bold;
}

.product-image-p img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.news {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;

}

.news-date {
  color: #333;
}

.news-title {
  color: #007bff;
}

.news-content {
  color: #666;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.about {
  background-color: #f9f9f9;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

header h1 {
  margin-bottom: 20px;
}

section.about {
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

footer.about {
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
}
#textarea, #message {
  width: 100%;
  height: 300px;
  font-size: 16px;
  padding: 10px;
}



#titleNews {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Контейнер для списка новостей */
#newsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 800px; /* Ширина контейнера новостей */
  margin: 0 auto; /* Центрируем контейнер на странице */
}

/* Стили для каждой новости */
.news-item {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Стили для заголовка новости */
.news-item h2 {
  color: #333;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

/* Стили для текста новости */
.news-item p {
  color: #666;
  font-size: 16px;
  margin: 0;
}

#titleAbout {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Контейнер для списка новостей */
#newsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 800px; /* Ширина контейнера новостей */
  margin: 0 auto; /* Центрируем контейнер на странице */
}





